/* line 8, /Users/hima_tumati/src/depot/app/assets/stylesheets/carts.scss */
.carts .item_price, .carts .total_line, #side #cart .item_price, #side #cart .total_line {
  text-align: right;
}
/* line 13, /Users/hima_tumati/src/depot/app/assets/stylesheets/carts.scss */
.carts .total_line .total_cell, #side #cart .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}
/* line 3, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}
/* line 7, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 12, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products .list_image {
  width: 60px;
  height: 70px;
}
/* line 17, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products .list_description {
  width: 60%;
}
/* line 20, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products .list_description dl {
  margin: 0;
}
/* line 24, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: #244;
  font-weight: bold;
  font-size: larger;
}
/* line 30, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products .list_description dd {
  margin: 0;
}
/* line 35, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 41, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #e0f8f8;
}
/* line 45, /Users/hima_tumati/src/depot/app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #f8b0f8;
}
/* line 1, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /Users/hima_tumati/src/depot/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 5, /Users/hima_tumati/src/depot/app/assets/stylesheets/store.scss */
.store {
  /* An entry in the store catalog */
}
/* line 6, /Users/hima_tumati/src/depot/app/assets/stylesheets/store.scss */
.store h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #226;
  border-bottom: 3px dotted #77d;
}
/* line 16, /Users/hima_tumati/src/depot/app/assets/stylesheets/store.scss */
.store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
  min-height: 100px;
}
/* line 22, /Users/hima_tumati/src/depot/app/assets/stylesheets/store.scss */
.store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}
/* line 29, /Users/hima_tumati/src/depot/app/assets/stylesheets/store.scss */
.store .entry h3 {
  font-size: 120%;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
}
/* line 38, /Users/hima_tumati/src/depot/app/assets/stylesheets/store.scss */
.store .entry p, .store .entry div.price_line {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 42, /Users/hima_tumati/src/depot/app/assets/stylesheets/store.scss */
.store .entry p form, .store .entry p div, .store .entry div.price_line form, .store .entry div.price_line div {
  display: inline;
}
/* line 47, /Users/hima_tumati/src/depot/app/assets/stylesheets/store.scss */
.store .entry .price {
  color: #44a;
  font-weight: bold;
  margin-right: 3em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or any plugin's vendor/assets/stylesheets
 * directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear
 * at the bottom of the compiled file so the styles you add here take
 * precedence over styles defined in any other CSS/SCSS files in this
 * directory. Styles in this file should be added after the last require_*
 * statement. It is generally better to create a new file per style scope.
 *


 */
/* line 20, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
body, body > p, body > ol, body > ul, body > td {
  margin: 8px !important;
}

/* line 22, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#banner {
  position: relative;
  min-height: 100px;
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #282;
  text-align: center;
}
/* line 32, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
}

/* line 41, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/* line 50, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#notice:empty {
  display: none;
}

/* line 54, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns {
  background: #141;
  display: flex;
}
/* line 58, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #main {
  padding: 1em;
  background: white;
  flex: 1;
}
/* line 64, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side {
  padding: 1em 2em;
  background: #cff000;
}
/* line 67, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side form, #columns #side div {
  display: inline;
}
/* line 72, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side input {
  font-size: small;
}
/* line 78, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side #cart {
  font-size: smaller;
  color: white;
}
/* line 81, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side #cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
}
/* line 89, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side ul {
  padding: 0;
}
/* line 92, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side ul li {
  list-style: none;
}
/* line 95, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side ul li a {
  color: white;
  font-size: small;
}
/* line 98, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
#columns #side ul li a:hover {
  color: #fbf9ff;
}

@media all and (max-width: 800px) {
  /* line 108, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
  #columns {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 500px) {
  /* line 114, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
  #banner {
    height: 1em;
  }

  /* line 118, /Users/hima_tumati/src/depot/app/assets/stylesheets/application.scss */
  #banner .title {
    display: none;
  }
}
